*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f5f5;
}



nav{
    width:100%;
    padding:20px 8%;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#ffc107;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;
}

nav ul li a:hover{
    color:#FFFF8F;
}



.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 10%;
    background:linear-gradient(135deg,#FFc107,#ff9800);
    color:#fff;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:14px 28px;
    background:#fff;
    color:#FFFF8F;
    text-decoration:none;
    border-radius:12px;
    font-weight:600;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero-text h1{
        font-size:35px;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }

}